    <button onclick="axios.get('/').then(result => alert('done'))">test</button>
    <script>
      if (navigator.serviceWorker) {
          navigator.serviceWorker.register('./service-worker.js', /* {scope: './about'} */)
              .then(function (registration) {
                  console.log(registration)
              })
              .catch(function (e) {
                  console.error(e)
              })
      } else {
          console.log('Service Worker is not supported in this browser.');
      }
    </script>